html, body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

@media (min-width: 200px){
body {
  background-image: url("movie-theater.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Oleo Script', cursive;
  font-size: 20px;
  color: black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: none;
}
}

 main {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom:10px;
}

@media (min-width: 200px){
img {
  float: center;
  width: 90%;

  display: block;
  margin: 0 auto;
  border-radius: 5px;
}
}

p, h1, h2, h4, h5 {
  text-align: center;
}

h2 {
  font-size: 20px;
}

h3 {
  height: 80%;
}

@media (min-width: 200px){
.container {
  height: 200px;
  width: 100%; 
  display: flex;
  flex-direction: column;
}
}

button {
  background-color: red;
  height: 40px;
  width: 100%;
  font-size: 20px;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  font-family: 'Abril Fatface', cursive;
}

.progress-bar {
  color: black;
  font-size: 10px;
  white-space: nowrap;
  display: flex;
}


.answerOption {
  background: black;
  color: white;
  display: block;
  margin: 2px 0;
  padding: 5px;
  cursor: pointer;
}

.answerOption:hover {
  background: green;
}